# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vendor

node_modules
**/dist/*
**/dist-ssr/*
*.local
!**/dist/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/node_modules
**/.svelte-kit
**/.env
**/.env.*
!**/.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

build/static/*
!build/static/*.sh

views/css/*
!views/css/.gitkeep

views/js/*
!views/js/.gitkeep
